@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mali&family=Sacramento&display=swap');
*{
    padding:0px;
    margin:0px;
}









img{
    pointer-events: none;
}

body{
    background-color: #fffffe;
}
.logo{
    position:relative;
    top: 10px;
  left: 12px;
 max-width: 20px;
}



.menu{
    position:relative;
    display:flex;
    justify-content:flex-end;
    margin-top: -35px;
    right: 12px;
}


.boyem{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height:auto;
    margin-top:-90px;
}



h1{
    text-align:center;
}



/* @keyframes bounce {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(0, 200px, 0);
    }
} */


main {
    -webkit-animation-name: bounce;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: cubic-bezier(
    );
    -webkit-animation-iteration-count: infinite;
}
  
@-webkit-keyframes bounce {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    to {
        -webkit-transform: translate3d(10px, 22px, 0);
        transform: translate3d(0, 22px, 0);
    }
}


.intro{
    
    text-align: center;
margin-top:70px;
 font-family: 'Press Start 2P', cursive;
 font-size: 1rem;
 color: #2d334a;
}


.bio-bio{
    text-align: center;
    padding: 0 5px;
    font-family: 'Caveat', cursive;
     font-size: 1.5rem;
     color: #2d334a;
    
}


.doodle{
    margin:0 0  0 135px ;
    margin-top:-84px;
    
}

.paint{
    position:fixed; 
}






